.body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 68px 1fr 22px;
}

.content-grid {
    height: calc(100vh - 68px - 22px);
    grid-column: 2;
    grid-row: 2;
    overflow: auto;
}


@media (max-width: 600px) {
    .body {
        grid-template-columns: 1fr;
        grid-template-rows: 48px 1fr 16px;
    }
}

.content-grid {
    height: calc(100vh - 48px - 16px);
    grid-column: 1;
}



