.body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 68px 1fr 22px;
}

.navbar-grid {
    height: 68px;
    grid-column: 2;
    grid-row: 1;
    background-color: var(--navbar-background-color);

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;

        img {
            height: 48px;
        }
    }
}

@media (max-width: 600px) {
    .body {
        grid-template-columns: 1fr;
        grid-template-rows: 48px 1fr 16px;
    }

    .navbar-grid {
        height: 48px;
        grid-column: 1;
    }
}